body{
	background-image: url(https://img.freepik.com/free-photo/top-view-delicious-spaghetti-with-copy-space_23-2150857950.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

table{
	
	position:fixed;
	bottom:40%;
	left:25%;
}
th{
	text-align:right;
	color:tomato;
	font-size:30px;
	font-family:ariel;
}
td{
	color:DarkKhaki;
	text-align:right;
}
.rname{
	font-style:italic;
	color:yellow;
	font-weight:bold;
	font-size:100px;
	text-align:left;
}
div{
	position:absolute;
	bottom:7%;
	right:40%;
}
a:link{
	color:#CCCCCC;
	text-decoration:none;
}
a:visited{
	text-decoration: none;
	color: #CCCCCC;
}
a:hover{
	text-decoration: none;
	color: #CCCCCC;
}
a:active{
	text-decoration: none;
	color: #CCCCCC;
}
p{
	color:grey;
}
 